body {
    font-family: sans-serif;
    background-color: #ffffff;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.header{
    padding-left:200px;
    background-color:#E6B131;
    color:#000000;
    
}
.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

