body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}
.image1{
	height:200px; 
	margin-left:15px;
	margin-top:5px;
}
.name{
	margin-top:35px;
	margin-left:50px;
}
.myprofile{
	margin-top:85px;
}
h4{
	margin-left:50px;
}
.sections{
	font-size:16px;
}
.sections-title{
	background-color:lightgrey;
	font-weight: bold;
}
  body {
      position: relative;
  }
  .affix {
      top: 20px;
  }
  div.col-sm-9 div {
      height: 250px;
      font-size: 28px;
  }
  
  #profile , #employment, #education, #skills,  #portfolio , #contact{color: #000; background-color: ;}
  
  @media screen and (max-width: 810px) {
    #profile , #employment, #education, #skills,  #portfolio , #contact{
        margin-left: 150px;
    }
  }